{% extends "base.html" %}
{% block templates%}
    <script type="text/template" id="tmpl-variety-list-item">
        <li>
            <div><%= name %></div>
        </li>
    </script>
{% endblock templates%}

{% block scripts %}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>

    <script type="text/javascript" src="/static/js/components/backbone-tastypie/backbone-tastypie.js"></script>

    <script type="text/javascript" src="/static/js/Planner.js"></script>
    <script type="text/javascript" src="/static/js/TemplateLoader.js"></script>
    <script type="text/javascript" src="/static/js/Util.js"></script>
    <script type="text/javascript" src="/static/js/Planner/Page.js"></script>
    <script type="text/javascript" src="/static/js/Planner/Crop.js"></script>
    <script type="text/javascript" src="/static/js/Planner/Variety.js"></script>

    <script type="text/javascript">
        $(document).ready(Planner.page.init());
    </script>


{% endblock scripts %}

{% block content %}
    Planner for: {{ garden.name }}
    <div id="varieties"></div>

{% endblock %}